<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Sticker歡迎您給予我們您寶貴的意見，希望您能填寫一些基本資料，好讓客服人員能在最短的時間內與您聯絡。祝您愉快！
   <a href="https://www.facebook.com/pages/Sticker/294209227336019">contact page</a>.
</p>