<footer class="footer">
<<<<<<< HEAD
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
=======
	<small>
		<a href="https://www.facebook.com/pages/Sticker/294209227336019">Sticker's </a>Ruby on Rails
		by Ayi
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",   about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="https://www.facebook.com/pages/Sticker/294209227336019">News</a></li>
		</ul>

	</nav>
>>>>>>> filling-in-layout
